
/* Default styles */
#logo {
    width: 40%;
    margin-left: 4%;
    padding: 10px;
    margin-top: -7%;
  }
  
  .body {
    background-color: #e6fcf5;
    color: black;
  }
  
  .navbar {
    margin-left: 63%;
    margin-top: -5%;
    padding: 10px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: -10%;
  }
  
  .nav ul li {
    display: inline-block;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
  }
  
  #brand {
    width: 15%;
    margin-left: 15%;
  }
  
  .about {
    text-align: center;
    color: black;
    background-color: #c3fae8;
    color: #087f5b;
    border-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
  }
  
  #pic {
    width: 85%;
    margin-left: 5%;
    border-radius: 115px;
    margin-top: -3%;
  }
  
  .us {
    display: grid;
    grid-template-columns: repeat(2, 1.5fr);
  }
  
  .kijani {
    color: #087f5b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10%;
    margin-left: -5%;
    line-height: 33px;
    margin-top: -1%;
    font-size: 20px;
    font-weight: 900;
  }
  
  #hr {
    text-decoration: underline;
    border-bottom: 1px solid #88c794;
  }
  
  .about span {
    border-bottom: #88c794 dotted 5px;
    font-size: 40px;
    font-weight: 900;
  }
  
  .f-v {
    display: flex;
    gap: 5%;
    padding-left: 20%;
    padding-top: 3%;
    padding-bottom: 2%;
    background: url(pictures/in.jpg);
    opacity: 70%;
    color: black;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
  
    .nav {
      /* flex-wrap: wrap; */
      /* justify-content: center; */
      margin-top: 0;
      padding-right: 40%;
      border-bottom: #087f5b solid 1px;
    }
  
    /* .nav ul li {
      font-size: 40px;
    } */
    #brand {
      margin-left: 0;
      width: 30%;
      margin-top: 2%;
      /* text-align: center; */
    }
  
    .us {
      grid-template-columns: 1fr;
    }
  
    .kijani {
      font-size: 19px;
      padding: -5%;
      padding-left: 20%;
    }
  
    #our {
      padding-left: 5%;
      font-size: 30px;
    }
  
    .team {
      grid-template-columns: 1fr;
      justify-content: center;
      gap: 3%;
    }
  
    .form {
      margin-left: 10%;
      font-size: 18px;
    }
  
    #touch {
      font-size: 30px;
    }
    footer{
        margin-top: 70%;
        padding: 0%;
        /* display: inline; */
        /* display: none !important; */
    }
    footer ul {
      margin-left: 0%;
      display: inline;
      margin-left: -4%;
      /* justify-content: center; */
    }
    .f-v{
        display: none !important;
    }
    .about{
        /* width: 70px; */
        font-size: 10px;
        background:none;
        /* margin-left: 18%; */
        margin-bottom: 10%;
    }
    .about span {
        font-size: 30px;
        color: #0b7285;
    }
    .team div{
        margin-left: 10%;
        margin-top: 1%;
        /* display: flex; */
    }
    .team div img{
        width: 200px;
        height: 200px;
        /* margin-left: -20%; */
        margin-top: -5%;
    }
    .team div p{
        margin-left: 10%;
    }
    #hr {
        width: 100px;
        display: none !important;
    }
    #demo{
        margin-left:-5% ;
    }
    /* #brand{ */
        /* width: 105px; */
    /* } */
  }
  
  /* Media query for even
  